<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <daily_deal>
            <general>
                <active>0</active>
                <use_qty_limitation>0</use_qty_limitation>
                <product_tile_display>none</product_tile_display>
            </general>
        </daily_deal>
    </default>
</config>
