<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="daily_deal" xsi:type="object">MageSuite\DailyDeal\Console\Command\DailyDealRefresh</item>
            </argument>
        </arguments>
    </type>

    <preference for="MageSuite\DailyDeal\Service\OfferManagerInterface" type="MageSuite\DailyDeal\Service\OfferManager" />

    <virtualType name="Magento\Catalog\Pricing\Price\Pool" type="Magento\Framework\Pricing\Price\Pool">
        <arguments>
            <argument name="prices" xsi:type="array">
                <item name="offer_price" xsi:type="string">MageSuite\DailyDeal\Pricing\Price\OfferPrice</item>
                <item name="final_price_without_daily_deal" xsi:type="string">MageSuite\DailyDeal\Pricing\Price\FinalPriceWithoutDailyDeal</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Quote\Model\QuoteManagement">
        <plugin name="verify_offer_in_checkout" type="\MageSuite\DailyDeal\Plugin\VerifyOfferInCheckout" sortOrder="10"/>
    </type>

    <type name="Magento\Checkout\Model\Cart">
        <plugin name="update_offer_in_cart" type="\MageSuite\DailyDeal\Plugin\UpdateOfferInCart" sortOrder="10"/>
    </type>

    <type name="Magento\Quote\Model\Quote\Item">
        <plugin name="group_offer_items" type="MageSuite\DailyDeal\Plugin\GroupOfferItems" sortOrder="10" />
    </type>

    <type name="Magento\Checkout\Model\Cart">
        <plugin name="disable_reordering_offer" type="MageSuite\DailyDeal\Plugin\DisableReorderingOffer" sortOrder="10" />
    </type>

    <type name="Magento\Quote\Model\Quote">
        <plugin name="prevent_reordering_daily_deal_offer" type="MageSuite\DailyDeal\Plugin\Quote\Model\Quote\PreventReorderingDailyDealOffer" sortOrder="10" />
    </type>

    <type name="Magento\Checkout\Controller\Cart\Index">
        <plugin name="recalculate_cart_on_view" type="MageSuite\DailyDeal\Plugin\RecalculateCartOnCartView" sortOrder="1" />
    </type>

    <type name="MageSuite\ProductTile\Block\Tile\Container">
        <plugin name="add_daily_deal_container_css_class" type="MageSuite\DailyDeal\Plugin\ProductTile\Block\Tile\Container\DailyDealPriceContainerMix" />
    </type>

    <type name="Smile\ElasticsuiteCatalog\Model\Autocomplete\Product\AttributeConfig">
        <arguments>
            <argument name="additionalSelectedAttributes" xsi:type="array">
                <item name="daily_deal_enabled" xsi:type="string">daily_deal_enabled</item>
                <item name="daily_deal_price" xsi:type="string">daily_deal_price</item>
                <item name="daily_deal_from" xsi:type="string">daily_deal_from</item>
                <item name="daily_deal_to" xsi:type="string">daily_deal_to</item>
            </argument>
        </arguments>
    </type>

    <type name="MageSuite\DailyDeal\Pricing\Price\FinalPriceWithoutDailyDeal">
        <arguments>
            <argument name="excludedPriceClasses" xsi:type="array">
                <item name="base_price" xsi:type="string">Magento\Catalog\Pricing\Price\BasePrice</item>
                <item name="final_price" xsi:type="string">Magento\Catalog\Pricing\Price\FinalPrice</item>
                <item name="offer_price" xsi:type="string">MageSuite\DailyDeal\Pricing\Price\OfferPrice</item>
            </argument>
        </arguments>
    </type>

</config>
